
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  height: 100%;

}

p {
  color: white !important;
}

.projecth1 {
  position: relative;
  left: 5%;
  top: 10%;
  box-sizing: border-box;
  text-decoration: none;
  font: normal 400 35px/1 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  transition: all 0.2s;
}

.goth1 {
  position: relative;
  left: 160px;
  top: 65px;
  box-sizing: border-box;
  text-decoration: none;
  font: normal 400 35px/1 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  transition: all 0.2s;
}

.contact {
  position: relative;
  left: 5%;
  top: 10%;
  box-sizing: border-box;
  text-decoration: none;
  font: normal 400 35px/1 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  transition: all 0.2s;
}

h2 {
  position: relative;
  top: 10%;
  box-sizing: border-box;
  text-decoration: none;
  font: normal 400 35px/1 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  transition: all 0.2s;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

}

#section02,
#section03,
#section03,
#section04,
#section05,
#section06 {
  background-color: #0C0C0C;
}

.gotImg {
  position: absolute;
  height: 120px;
  width: 120px;
  left: 20px;
  top: 20px;

}


.footerMain {
  top: 85%;
  position: absolute;
  left: 5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff !important;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.copyrights {
  position: absolute;
  bottom: 20px;
  left: 65%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;

}

.goToB {
  position: absolute;
  bottom: 20px;
  left: 5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  padding: 5px;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
}

.goToB:hover {
  opacity: .5;
  color: #000000;
  background-color: #FFFFFF;
}


.scrollBut {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo .scrollBut:hover {
  opacity: .5;
}

.scrollBut {
  padding-top: 60px;
}

a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb01 2s infinite;
  animation: sdb01 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb01 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb01 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.menuBarCon {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 9999;

}

.dropdown {
  position: fixed;
  top: 15px;
  right: 161px;
  z-index: 9999;
  height: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 29px;
  border: none;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  border: none;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {}

.aboutTextCon {
  width: 50%;
  height: 50px;
  position: fixed;
  bottom: 130px;
  left: 100px;
}

.aboutText {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  font: normal 400 14px/1 'Roboto', sans-serif;

}


.aboutTextM {
  display: none;

}

.contactButCon {
  width: auto;
  height: auto;
  position: fixed;
  bottom: 80px;
  left: 100px;
}

.but {
  position: relative;
  padding: 5px;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: left;
  transition: all 0.2s;
}

.but:hover {
  color: #000000;
  background-color: #FFFFFF;
}




/* Use a media query to add a break point at 800px: */

iframe {
  -ms-transform: scale(0.40);
  -moz-transform: scale(0.40);
  -o-transform: scale(0.40);
  -webkit-transform: scale(0.40);
  transform: scale(0.40);
  position: relative;
  top: -255px;
  left: -432px;
  height: 850px;
  width: 1435px;
}

#wrapper {
  overflow: hidden;
  position: relative;


}

canvas {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100% !important;
}



/* input field styles */

.contactForm {
  padding: 0px 15px 0px 15px;
  position: relative;
  width: 70%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 16px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  left: 25%;
  top: 12%;
}


.form-control {

  width: 70%;
  max-width: 70%;
  height: 3em;
  padding: 1em;
  margin: .5em 0 2em 0;

  position: relative;
  padding: 5px;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
  transition: all 0.2s;
}

textarea {
  min-height: 10em;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

#submit {
  outline: none;
  padding: 12px;
  min-width: 200px;
  border-radius: 2px;
  border: 2px solid #FF6363;
  text-align: center;
  font-size: 1em;
  color: #FF6363;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#submit:hover {
  background-color: #FF6363;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.active {
  color: black;
  background-color: white;
}


.manivestTextCon {
  width: 30%;
  height: 50px;
  position: absolute;
  left: 5%;
  bottom: 65%;
}

.manivestText {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 1.6 !important;

  color: #fff;
  font: normal 400 14px/1 'Roboto', sans-serif;

}

.manivestTextM {
  display: none;

}

.gotTextCon {
  width: 40%;
  height: 50px;
  position: absolute;
  left: 5%;
  bottom: 65%;
}

.gotText {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 1.6 !important;

  color: #fff;
  font: normal 400 14px/1 'Roboto', sans-serif;

}

.gotTextM {
  display: none;

}

.maniWrap {
  padding-top: 10% !important;
  height: auto !important;
}

.macWrap {
  width: 900px;
  position: relative;
  left: 40% !important;
}

.macbook {

  width: 837px;
  -webkit-perspective: 1470;
  -webkit-perspective-origin: 50% bottom;
  -webkit-transform-style: preserve-3d;
  -moz-perspective: 1000px;
  -moz-perspective-origin: 50% bottom;
  -moz-transform-style: preserve-3d;
  perspective: 1000;
  perspective-origin: 50% bottom;
  transform-style: preserve-3d;
}

.macbook-lid {
  width: 72.8%;
  margin: 0 auto;
  -webkit-transform-origin: 50% bottom;
  -webkit-transform-style: preserve-3d;
  -moz-transform-origin: 50% bottom;
  -moz-transform-style: preserve-3d;
  transform-origin: 50% bottom;
  transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.macbook-lid:before {
  display: block;
  content: '';
  width: 92%;
  margin: 0 auto;
  padding: 2% 3% 0 3%;
  background-color: #4e4e4e;
  border-radius: 10px 10px 0 0;
  -webkit-transform-origin: 50% bottom;
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  -moz-transform-origin: 50% bottom;
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: 50% bottom;
  transform: rotate3d(1, 0, 0, 90deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.macbook-screen {
  position: relative;
  background-color: #353535;
  margin: 0 auto;
  padding: 3%;
  border-radius: 5px 5px 0 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.macbook-screen:before {
  display: block;
  content: '';
  position: absolute;
  top: 2%;
  left: 49%;
  width: 1%;
  padding-top: 1%;
  background-color: #000;
}

.macbook-content {
  position: relative;
  overflow: hidden;
  background-color: #1C1C1C;
  box-shadow: inset 0px 0px 6px #222;
  max-height: 360px;
}

.macbook-content:before {
  display: block;
  content: '';
  width: 1px;
  padding-top: 60%;
  float: left;
}

.macbook-content:after {
  display: block;
  content: '';
  clear: both;
}

#section02:not(:hover) .macbook-lid {
  -webkit-transform: rotate3d(-1, 0, 0, 91deg);
  -moz-transform: rotate3d(-1, 0, 0, 91deg);
  transform: rotate3d(-1, 0, 0, 91deg);
}

#section02:not(:hover) .macbook-lid:before {
  width: 94%;
}

.macbook-base {
  width: 100%;
  overflow: hidden;
  background-color: #4e4e4e;
  border-radius: 2px 2px 10px 10px;
}

.macbook-base:before {
  display: block;
  content: '';
  width: 30%;
  margin: 0 auto 1% auto;
  padding-top: 1.5%;
  background: #696969;
  border-radius: 0 0 10px 10px;
}

.macbook-base:after {
  display: block;
  content: '';
  padding-top: 1%;
  background-color: #696969;
}



@media screen and (max-width:1200px) {

  .left,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }

  #section02 {
    height: 1000px !important;
  }

  .macWrap {

    width: 900px;
    position: relative;
    left: 5% !important;
  }

  .manivestTextCon {
    width: 90%;
    height: 50px;
    position: absolute;
    left: 5%;
    bottom: 25%;
  }

  .manivestText {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.6 !important;
    color: #fff;
    font: normal 400 14px/1 'Roboto', sans-serif;
    padding-bottom: 30px;
  }

  .scrollBut {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 10px;
  }
}

@media screen and (max-width:1200px) {

  .left,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }

  #section02 {
  }

  .manivestTextCon {
    width: 90%;
    height: 50px;
    position: absolute;
    left: 5%;
    bottom: 28%;
  }

}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:900px) {

  .left,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
  }



  .aboutTextCon {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 130px;
    left: 60px;
    margin-top: 50px;
  }

  .aboutText {
    display: none;

  }

  .aboutTextM {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    color: #fff;
    display: unset;
    font: normal 400 14px/1 'Roboto', sans-serif;

  }

  .contactButCon {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 75px;
    left: 20px;
  }


  .footerMain {
    top: 92%;
    position: absolute;
    left: 50%;
    width: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 12px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

  .copyrights {
    position: absolute;
    bottom: 1px;
    width: 100%;
    left: 5%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 12px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;

  }

  .goToB {
    position: absolute;
    bottom: 50px;
    left: 5%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 12px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    padding: 5px;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
  }

  .form-control {
    width: 100%;
    max-width: 100%;
    height: 3em;
    padding: 1em;
    margin: .5em 0 2em 0;
    padding: 5px;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: left;
    transition: all 0.2s;
  }

  .contactForm {
    padding: 0px 15px 0px 15px;
    position: relative;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 16px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    left: 0%;
    top: 20%;
  }

  .projecth1 {
    position: relative;
    left: 5%;
    top: 3%;
    box-sizing: border-box;
    text-decoration: none;
    font: normal 400 35px/1 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    transition: all 0.2s;
  }

  .contact {
    position: relative;
    left: 5%;
    top: 10%;
    box-sizing: border-box;
    text-decoration: none;
    font: normal 400 35px/1 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    transition: all 0.2s;
  }





  .manivestTextCon {
    width: 95%;
    height: 30%;
    position: absolute;
    left: 3%;
    bottom: 20%;
    padding-top: 10%;
  }

  .manivestText {
    display: none;
  }

  .manivestTextM {
    display: unset;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 2 !important;
    color: #fff;
    font: normal 400 14px/1 'Roboto', sans-serif;
  }

  iframe {
    -ms-transform: scale(0.20);
    -moz-transform: scale(0.20);
    -o-transform: scale(0.20);
    -webkit-transform: scale(0.20);
    transform: scale(0.20);
    position: relative;
    top: -340px;
    left: -580px;
    height: 850px;
    width: 1435px;
  }

  #wrapper {
    overflow: hidden;
    position: relative;
    height: 170px;
  }

  .maniWrap {
    top: 50%;
    height: auto !important;
  }

  .macWrap {
    width: auto;
    position: relative;
    left: 20% !important;
    padding-top: 20% !important;
  }

  .macbook {
    width: 357px;
    -webkit-perspective: 1150;
    -webkit-perspective-origin: 50% bottom;
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 1000px;
    -moz-perspective-origin: 50% bottom;
    -moz-transform-style: preserve-3d;
    perspective: 1000;
    perspective-origin: 50% bottom;
    transform-style: preserve-3d;
  }

  .macbook-lid {
    width: 84%;
    margin: 0 auto;
    -webkit-transform-origin: 50% bottom;
    -webkit-transform-style: preserve-3d;
    -moz-transform-origin: 50% bottom;
    -moz-transform-style: preserve-3d;
    transform-origin: 50% bottom;
    transform-style: preserve-3d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }

  .macbook-lid:before {
    display: block;
    content: '';
    width: 92%;
    margin: 0 auto;
    padding: 2% 3% 0 3%;
    background-color: #4e4e4e;
    border-radius: 10px 10px 0 0;
    -webkit-transform-origin: 50% bottom;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    -moz-transform-origin: 50% bottom;
    -moz-transform: rotate3d(1, 0, 0, 90deg);
    transform-origin: 50% bottom;
    transform: rotate3d(1, 0, 0, 90deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }

  .macbook-screen {
    position: relative;
    background-color: #353535;
    margin: 0 auto;
    padding: 3%;
    border-radius: 5px 5px 0 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
  }

  .macbook-screen:before {
    display: block;
    content: '';
    position: absolute;
    top: 2%;
    left: 49%;
    width: 1%;
    padding-top: 1%;
    background-color: #000;
  }

  .macbook-content {
    position: relative;
    overflow: hidden;
    background-color: #1C1C1C;
    box-shadow: inset 0px 0px 6px #222;
    max-height: 360px;
  }

  .macbook-content:before {
    display: block;
    content: '';
    width: 1px;
    padding-top: 60%;
    float: left;
  }

  .macbook-content:after {
    display: block;
    content: '';
    clear: both;
  }

  #section02:not(:hover) .macbook-lid {
    -webkit-transform: rotate3d(-1, 0, 0, 91deg);
    -moz-transform: rotate3d(-1, 0, 0, 91deg);
    transform: rotate3d(-1, 0, 0, 91deg);
  }

  #section02:not(:hover) .macbook-lid:before {
    width: 94%;
  }

  .macbook-base {
    width: 100%;
    overflow: hidden;
    background-color: #4e4e4e;
    border-radius: 2px 2px 10px 10px;
  }

  .macbook-base:before {
    display: block;
    content: '';
    width: 30%;
    margin: 0 auto 1% auto;
    padding-top: 1.5%;
    background: #696969;
    border-radius: 0 0 10px 10px;
  }

  .macbook-base:after {
    display: block;
    content: '';
    padding-top: 1%;
    background-color: #696969;
  }



}

@media screen and (max-width:560px) {


  .macWrap {
    left: 13% !important;
  }

  .manivestTextCon {
    padding-top: unset !important;
    bottom: 5% !important;
  }

  #section02 {
    height: 800px !important;
  }
}


.logoCon img {
  position: absolute;
  right: 300px;
  top: 25px;
  z-index: 99999;
}
    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      flex-wrap: nowrap;
      align-content: stretch;

      padding-top: 150px;
    }

    .card {
      display: inline-block;
      flex: 1;
      /*grow*/

      top: 25%;
      margin: 20px;
      width: 350px;
      background-color: #fff;
      border-radius: 15px;
      border: 5px solid white;

      box-shadow: 0 30 50 rgba(0, 0, 0, 0.2);

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .card--19 {}

    .card--solstice {}

    .card--huarache {}

    .card--ap {}

    .card__header {
      position: relative;
      height: 170px;
      padding: 30px 30px 300px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      color: #fff;
    }

    .card__header--19 {
      background-color: #0D0D11;
      background-image: linear-gradient(#0D0D11, #121217);

      background: #0D0D11;
      background: linear-gradient(#0D0D11, #121217);
    }

    .card__header--solstice {

      background-color: #005066;
      background-image: linear-gradient(#005066, #5500dd);

      background: #005066;
      background: linear-gradient(#005066, #5500dd);
    }

    .card__header--huarache {
      background-color: #005066;
      background-image: linear-gradient(#003442, #3e73c2);

      background: #005066;
      background: linear-gradient(#003442, #3e73c2);
    }

    .card__header--ap {
      background-color: #ffffff;
      background-image: linear-gradient(#ffffff, #ff4040);

      background: #ffffff;
      background: linear-gradient(#ffffff, #ff4040);
    }

    .card__watermark {
      overflow: hidden;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
    }

    .card__watermark::after {
      content: attr(data-watermark);
      position: relative;
      left: -20px;
      color: rgba(0, 0, 0, .3);
      font-size: 240px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .card__logo {
      width: 50px;
    }

    .card__price {
      float: right;
      font-size: 16px;
      font-weight: 300;
    }

    .card__title {
      text-decoration: none;
      font: normal 400 35px/1 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #FFFFFF;
      text-align: left;
      transition: all 0.2s;

      margin: 90px 0 20px;
      font-size: 15px;
      line-height: 1.1em;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    .card__subtitle {
      text-decoration: none;
      font: normal 400 35px/1 'Josefin Sans', sans-serif;
      font-weight: 400;
      color: #FFFFFF;
      text-align: left;
      transition: all 0.2s;

      display: block;
      font-size: 13px;
      font-weight: 300;
    }

    .card__body {
      position: relative;
      padding: 40px 30px 20px;
    }

    .card__image {
      z-index: 1;
      position: absolute;
      top: 250px;
      left: 30px;
      width: 100%;

      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

    .card__wish-list {
      display: block;
      width: 60%;
      margin: 0 auto 15px;
      padding: 15px;
      border: 2px solid #000000;
      border-radius: 20px;
      text-align: center;
      text-transform: uppercase;
      font-size: 145px;
      color: #000000;
      text-decoration: none;
      font: normal 400 15px/1 'Josefin Sans', sans-serif;
      font-weight: 400;
      text-align: left;
      transition: all 0.2s;
    }


    .card__category {
      display: block;
      font-size: 12px;
      color: #AEAEAE;
      text-transform: uppercase;
      text-align: center;
    }

    .card__will-animate {}

    .cards-placeholder {
      display: block;
      position: relative;
      margin-bottom: 15px;
      text-align: center;
    }

    .cards-placeholder__item {
      opacity: 0.3;
      display: inline-block;
      margin-right: 10px;
      background-color: #fff;
      width: 30px;
      height: 5px;
      border-radius: 5px;

      transition: opacity 0.2s;
      will-change: opacity;
    }

    .cards-placeholder__item--active {
      opacity: 1;
    }

    @media screen and (max-width:1589px) {

      .left,
      .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
      }

      .wrapper {
        transform: scale(0.9) !important;
        padding-bottom: 250px !important;
      }

    }

    @media screen and (max-width:1410px) {
      .wrapper {
        position: relative;
        ;
        transform: scale(0.8) !important;
      }
    }

    @media screen and (max-width:1320px) {
      .wrapper {
        transform: scale(0.7) !important;
      }
    }

    @media screen and (max-width:1220px) {
      .wrapper {
        transform: scale(0.6) !important;

      }
    }



    @media screen and (max-width:1112px) {
      .wrapper {
        transform: scale(0.6) !important;
        flex-wrap: wrap;
      }

      #section04 {
        height: 1000px !important;
      }
    }

    @media screen and (max-width:758px) {
      .wrapper {
        transform: scale(0.6) !important;
        overflow-y: unset !important;
        position: absolute;
        top: -150px !important;
      }

      .projecth1 {
        top: 10% !important;
      }

      #section04 {
        height: 1700px !important;
      }
    }

    @media screen and (max-width:658px) {
      #section03 {
        height: 1200px !important;
      }

      .container {
        left: 10% !important;
      }

      .gotTextCon {
        width: unset !important;
        bottom: 33% !important;
      }


    }

    @media screen and (max-width:499px) {

      .container {
        left: unset !important;
        margin: unset !important;

      }

      .maniWrap {
        padding-top: 40% !important;
        padding-right: 30% !important;

      }

      .macbook {
        width: 357px !important;
        margin: unset !important;
      }
    }
